@charset "UTF-8";




/* Nav Bar styles */



* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(165, 189, 192);
  text-align: center;
}

.header {
  overflow: hidden;
  background-color: #000000;
  padding: 10px 5px;
}

.header a {
  float: left;
  color: rgb(68, 128, 196);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(107, 165, 199);
  color: black;
}

.header a.active {
  background-color: rgb(93, 160, 228);
  color: white;
}

.header-right {
  float: right;
}

.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}

.columns {
	width: 25%;
	float: left;
	font-family: "Source Sans Pro";
	color: #0d5153;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: large;
	
}
.row .columns p {
	padding-left: 10%;
	padding-right: 10%;
}
.container .columns h4 {
	text-align: center;
	color: #01B2D1;
}



/* Text  styles */
div.a {
    text-align: center;
	color: rgb(70, 94, 94);
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}

div.b{
	text-align: justify;
	font-size: large;
	font-family: Tahoma, Geneva, sans-serif;
	
}

div.c {
	text-align: justify;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgb(36, 58, 58);
}

.h1 {
	text-align: center;
	text-transform: uppercase;
	color: #01B2D1;
	
	
}


.footer {
	background-color: #000000;
	text-align: center;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: rgb(106, 156, 231);
	font-size: initial;


}
.title {
	font-weight: bold;
	font-family: "Source Sans Pro";
	text-align: center;
	color: paleturquoise;
	letter-spacing: 2px;
}

.responsive {
  width: 100%;
  height: auto;
}
	
	
	
  
  



.copyright {
	text-align: center;
	background-color:#000000;
	color: paleturquoise;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
	
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
}






@media (max-width: 320px) {

.left_article {
	text-align: center;
}
.right_article {
	width: 100%;
	height: auto;
}

.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.container .secondary_header {
	display: none;
}
}
























@media (min-width: 321px) and (max-width: 768px) {



.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {




.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}







@media screen and (max-width: 500px) {
	.header a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	
	.header-right {
	  float: none;
	}
  }